<configuration version="14">
    {{#each cfg.folders}}
    <folder id="{{id}}" 
            label="{{label}}" 
            path="{{../pkg.svc_data_path}}/{{path}}" 
            type="{{type}}" 
            rescanIntervalS="{{rescan_intervals}}" 
            ignorePerms="{{ignore_perms}}" 
            autoNormalize="{{auto_normalize}}">
        {{#if ../cfg.device.id}}<device id="{{../cfg.device.id}}"></device>{{/if}}
        {{#each device_ids}}
        <device id="{{this}}"></device>
        {{/each}}
        
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>-1</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
    </folder>
    {{/each}}

    {{#each cfg.devices}}
    <device {{#if id}}id="{{id}}"{{/if}}
            name="{{name}}"
            compression="{{compression}}"
            introducer="{{introducer}}">
        <address>{{address}}</address>
    </device>
    {{/each}}

    <gui enabled="{{cfg.gui.enabled}}" tls="{{cfg.gui.tls}}">
        <address>{{cfg.gui.address}}</address>
        {{#if cfg.gui.apikey}}<apikey>{{cfg.gui.apikey}}</apikey>{{/if}}
        <theme>{{cfg.gui.theme}}</theme>
        {{#if cfg.gui.user}}
        <user>{{cfg.gui.user}}</user>
        {{/if}}
        {{#if cfg.gui.password}}
        <password>{{cfg.gui.password}}</password>
        {{/if}}
    </gui>
    <options>
        <listenAddress>{{cfg.options.listen_address}}</listenAddress>
        <globalAnnounceServer>default</globalAnnounceServer>
        <globalAnnounceEnabled>true</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <localAnnouncePort>21027</localAnnouncePort>
        <localAnnounceMCAddr>[ff12::8384]:21027</localAnnounceMCAddr>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>60</reconnectionIntervalS>
        <relaysEnabled>true</relaysEnabled>
        <relayReconnectIntervalM>10</relayReconnectIntervalM>
        <startBrowser>{{cfg.options.start_browser}}</startBrowser>
        <natEnabled>true</natEnabled>
        <natLeaseMinutes>60</natLeaseMinutes>
        <natRenewalMinutes>30</natRenewalMinutes>
        <natTimeoutSeconds>10</natTimeoutSeconds>
        <urAccepted>0</urAccepted>
        <urUniqueID></urUniqueID>
        <urURL>https://data.syncthing.net/newdata</urURL>
        <urPostInsecurely>false</urPostInsecurely>
        <urInitialDelayS>1800</urInitialDelayS>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>12</autoUpgradeIntervalH>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>false</cacheIgnoredFiles>
        <progressUpdateIntervalS>5</progressUpdateIntervalS>
        <symlinksEnabled>true</symlinksEnabled>
        <limitBandwidthInLan>false</limitBandwidthInLan>
        <minHomeDiskFreePct>1</minHomeDiskFreePct>
        <releasesURL>https://api.github.com/repos/syncthing/syncthing/releases?per_page=30</releasesURL>
        <overwriteRemoteDeviceNamesOnConnect>false</overwriteRemoteDeviceNamesOnConnect>
        <tempIndexMinBlocks>10</tempIndexMinBlocks>
    </options>
</configuration>